<h1>Welcome to The Open Education Resource Handler</h1>
<p>Register your application for a APIKey.</p>
<% if flash[:newappnotice] %>
	<p class="successMessage"><%= flash[:newappnotice] %></p>
<% end %>
<p>
	<%= link_to "Register", :controller => "home", :action => "new" %>
</p>

<p>
	Om du redan har registrerat din applikation så finns dokumentationen här <a href="https://github.com/Oskar1336/1dv450_og222bg/tree/master/WebAPI#the-open-education-resource-handler" target="_blank">TOERH Dokumentation</a>
</p>

<h2>Login</h2>
<p>
	<%= link_to "Login", :controller => "login", :action => "login" %>
</p>
