<!DOCTYPE HTML>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	
	<body>
		<h1>Welcome to The Open Education Resource Handler</h1>
		<p>
			You have successfully registerd your application at toerh.se<br>
			Your apikey is : <%= @apikey.key %>
		</p>
	</body>
</html>
