<div class="modal-header">
    <h3 data-ng-hide="isInEdit">Create new resource</h3>
    <h3 data-ng-show="isInEdit">Edit {{resource.resourcename}}</h3>
</div>
<div class="modal-body">
    <div id="addResourceMessage" class="hidden accordion-width"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="resourcename" class="col-sm-3 control-label">Name:</label>
            <div class="col-sm-8">
                <input type="text" id="resourcename" class="form-control" data-ng-model="resource.resourcename" name="resourcename" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label for="resourcedesc" class="col-sm-3 control-label">Description:</label>
            <div class="col-sm-8">
                <input type="text" id="resourcedesc" class="form-control" data-ng-model="resource.resourcedesc" name="resourcedesc"/>
            </div>
        </div>

        <div class="form-group">
            <label for="resourcetype" class="col-sm-3 control-label">Type:</label>
            <div class="col-sm-8">
                <input type="text" id="resourcetype" class="form-control" data-ng-model="resource.resourcetype" name="resourcetype" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label for="resourceurl" class="col-sm-3 control-label">Url:</label>
            <div class="col-sm-8">
                <input type="text" id="resourceurl" class="form-control" data-ng-model="resource.resourceurl" name="resourceurl" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label for="resourcelicense" class="col-sm-3 control-label">License:</label>
            <div class="col-sm-8">
                <select data-ng-model="resource.resourcelicense" class="form-control" required="required">
                    <option data-ng-selected="resource.resourcelicense == licence.licence" data-ng-repeat="licence in licences" value="{{licence.licence}}">{{licence.licence}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="resourcetags" class="col-sm-3 control-label">Tags:</label>
            <div class="col-sm-8">
                <input type="text" id="resourcetags" class="form-control" data-ng-model="resource.resourcetags" name="resourcetags" data-popover="Seperate multiple tags with ':'" data-popover-trigger="focus"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="create()">
        <span data-ng-hide="isInEdit">Create</span>
        <span data-ng-show="isInEdit">Update</span>
    </button>
</div>