<nav class="navbar navbar-default" role="navigation" data-ng-controller="MenuCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand" data-ng-click="getAllResources()"><strong>TOERH</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#/" data-ng-click="getAllResources()">Resources</a></li>
                <li data-ng-show="isLoggedIn">
                    <a href="#/resource/add">Add resource</a>
                </li>
            </ul>

            <span data-ng-controller="LoginCtrl" class="navbar-right">
                <button type="button" class="btn btn-info navbar-btn" data-ng-click="login()" data-ng-hide="isLoggedIn">Login with GitHub</button>
                <button type="button" class="btn btn-info navbar-btn" data-ng-click="logout()" data-ng-show="isLoggedIn">Logout</button>
            </span>

            <span data-toerh-search=""></span>
        </div>
    </div>
</nav>
