<div data-ng-controller="ResourceCtrl">
    <div class="accordion-width">
        <accordion close-others="false">
            <accordion-group class="accordion-width" is-open="isopen" data-ng-repeat="resource in resources">
                <accordion-heading>
                    {{resource.resource_name}} <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                </accordion-heading>
                <strong>Description:</strong> {{resource.description}}<br />
                <strong>Url:</strong> <a href="{{resource.url}}">{{resource.url}}</a><br />
                <strong>Created:</strong> {{resource.created|date:'yyyy-MM-dd HH:mm'}}<br />
                <strong>Resource type:</strong> {{resource.resource_type.resourcetype}}<br />
                <strong>User:</strong> {{resource.user.firstname}} {{resource.user.lastname}}<br />
                <strong>Username:</strong> {{resource.user.username}}<br />
                <strong>User mail:</strong> {{resource.user.email}}<br />
                <strong>License:</strong> {{resource.licence.licence}}<br />
                <strong>Tags:</strong>
                <ul>
                    <li data-ng-repeat="tag in resource.tags">
                        {{tag}}
                    </li>
                </ul>
            </accordion-group>
        </accordion>

        <a href="javascript:;" id="previousPage" data-ng-click="loadPage(true)">Previous</a>
        <a href="javascript:;" id="nextPage" data-ng-click="loadPage(false)">Next</a>
    </div>
</div>